body{
  background: #000a00;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Roboto Mono';
  color: rgb(0, 255, 0);
  text-transform: lowercase;
  animation: dark-screen 2s infinite ease-in-out;
}
::selection{
  background-color: rgba(0, 180, 0);
  color: #000a00;
}
p{
  text-indent: -10px;
}
a{
  color: rgba(0, 255, 0);
  text-decoration: underline;
  cursor: deafult;
}
a:hover{
  text-decoration: none;
}